@page "/derechoagua/create"
@using ProyectoAgua.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager

<h3>Derecho Agua</h3>

<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" id="idNombre" @bind="derechoAgua.Nombre" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Pasaje</label>
        <input type="text" class="form-control" id="idPasaje" @bind="derechoAgua.Pasaje" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Casa</label>
        <input type="text" class="form-control" id="idCasa" @bind="derechoAgua.Casa" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary" @onclick="CreateDerechoAgua">Guardar</button>
        <button class="btn btn-secondary" @onclick="Index">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold">@error</span>
    </div>
</div>

@code {
    DerechoAgua? derechoAgua = new DerechoAgua();
    string error = "";

    public async Task CreateDerechoAgua()
    {
        try
        {
            // Realiza la solicitud HTTP POST
            var resultado = await Http.PostAsJsonAsync("DerechoAgua", derechoAgua);

            // Verifica si la solicitud fue exitosa
            if (resultado.IsSuccessStatusCode)
            {
                Index();
            }
            else
            {
                error = "Error al ingresar el DerechoAgua.";
            }
        }
        catch (Exception ex)
        {
            // Manejo de excepciones y mensaje de error
            error = $"Error: {ex.Message}";
        }
    }

    // Navega de regreso al índice
    void Index()
    {
        NavManager.NavigateTo("/derechoagua/index");
    }
}

