@page "/"

<PageTitle>Index</PageTitle>

<h1>Sistema de control de agua</h1>

<p>Realize sus transacciones:</p>
<h6><a href="/derechoAgua/index">Derecho agua</a></h6>
<h6><a href="/consumo/index">Registro agua</a></h6>
<h6><a href="/consumo/index">Consumo</a></h6>
<h6>Mora empleado</h6>
<h6>Mecha</h6>
<h6>Usuario</h6>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
